Abody{background-image: url(https://img1.wallspic.com/crops/7/8/2/6/86287/86287-tour_de_bloc-ville_de_nuit-ciel-gratte_ciel-la_ville_de_new_york-3840x2160.jpg);
background-size: cover;
height: 1OOvh;}

h2{color: white;}
div li a {color: #fff;
border: radius 100px; ;}