body{background-image:url(https://img1.wallspic.com/previews/5/7/7/7/2/127775/127775-les_roses_de_jardin-la_floraison_de_la_plante-la_purete_de_la_couleur-roses-arts_creatifs-x750.jpg);
background-size: cover;
height: 100vh;}

h2{color:white}
blockquote{color: white;}

div li a {color: #fff;
    border: radius 100px; ;display: block;}